.main_about
{
    display: flex;
    justify-content: center;
}
.inner_about
{
    @media screen and (min-aspect-ratio: 1/1) {
        width: 60vw;
    }

    @media screen and (max-aspect-ratio: 1/1) {
        width: 90vw;
    }
}
.content_about
{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.link_about
{
    text-decoration: underline;
    color: black;
}
.powercurves
{
    display: flex;
    @media screen and (min-aspect-ratio: 1/1) {
        flex-direction: row;
    }
    @media screen and (max-aspect-ratio: 1/1) {
        flex-direction: column;
    }
}
.curves
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.images
{
    @media screen and (min-aspect-ratio: 1/1) {
        height: 30vh;
        width: 30vw;
    }
    @media screen and (max-aspect-ratio: 1/1) {
        width: 90vw;
        height: 20vh;
    }
}
.spacer_about
{
    margin-top: 5vh;
    @media screen and (min-aspect-ratio: 1/1) { 
        display: flex;
        justify-content: center;
    }
}
.sub
{
    margin-top: 0;
    margin-bottom: 1vh;
}
.subsub
{
    margin-bottom: 5vh;
}
.bottom
{
    margin-bottom: 15vh;
}
.not_darkmode_about
{
    color: black;
    transition: color 0.5s ease;
}
/* darkmode */
.darkmode_about
{
    color: #e8e8e8;
}
.link_darkmode
{
    text-decoration: underline;
}
.transition_about
{
    transition: color 0.5s ease;
}