.content
{
    display: flex;
    @media screen and (min-aspect-ratio: 1/1) {
        justify-content: center;
    }
    @media screen and (max-aspect-ratio: 1/1) {
        flex-direction: column;
        align-items: center;
    }
}
.inner_content
{
    @media screen and (min-aspect-ratio: 1/1) {
        width: 75vw;
    }
}
.mapbox-list
{
    display: flex;

    @media screen and (min-aspect-ratio: 1/1) {
        height: 70vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    @media screen and (max-aspect-ratio: 1/1) {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
}
