.content
{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-aspect-ratio: 1/1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.placeholder
{
    width: 60vw;
    @media screen and (max-aspect-ratio: 1/1) {
        width: 90vw;
    }
}
.mapbox-list
{
    display: flex;

    @media screen and (min-aspect-ratio: 1/1) {
        height: 60vh;
    }

    @media screen and (max-aspect-ratio: 1/1) {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
}
