.outer_header
{
  margin-top: 2vh;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.divide {
  display: flex;
  flex-direction: column;
}
.aboutButton {
  margin-right: 0;
  margin-left: 3vw;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.change,
.counter {
  position: relative;
  border: none;
  font-size: x-large;
  font-weight: bold;
}
.aboutButton,
.darkmodeButton,
.kompanion {
  border: none;
  background-color: transparent;
  font-size: larger;
}
.darkmodeButton {
  padding-right: 0;
}
.aboutButton:hover,
.darkmodeButton:hover {
  font-weight: bolder;
}
.kompanion {
  font-size: 145%;
  padding-left: 0;
}
.kompanion:hover {
  font-weight: bold;
}
/* darkmode */
.darkmode_header {
  color: #e8e8e8;
  border-color: #e8e8e8;
}
.transition_header {
  transition: color 0.5s ease, border-color 0.5s ease;
}
