.header 
{
    position: relative;
    display: flex;
    align-items: center;
}
.change, .counter
{
    position: relative;
    left: 65vw;
    margin: 0.75%;
    border: none;
    font-size: x-large;
    font-family: monospace;
    font-weight: bold;
}
.intro
{
    margin-left: 1vw;
}
.aboutButton, .darkmodeButton, .kompanion
{
    border: none;
    background-color: transparent;
    font-family: monospace;
    font-size: larger;
}
.darkmodeButton
{
    padding-right: 0;
}
.buttons
{
    margin-right: 1vw;
    margin-left: auto;
}
.aboutButton:hover, .darkmodeButton:hover
{
    font-weight: bolder;
}
.kompanion
{
    font-size: 145%;
    padding-left: 0;
}
.kompanion:hover
{
    font-weight: bold;
}
h2
{
    margin: 0;
    font-family: monospace;
}
/* darkmode */
.darkmode
{
    color: grey;
    border-color: grey;
}