.listcontainer
{
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin-left: 0vw;
    margin-right: -1px;
    width: 27.65vw;
}
.darkmode_list
{
    border-color: white;
}