.listcontainer {
  transition: 0.5s ease;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (min-aspect-ratio: 1/1) {
    width: 37.5%;
  }
  @media screen and (max-aspect-ratio: 1/1) {
    width: 90vw;
    height: 20vh;
  }
}
.skeletons
{
    position: relative;
}
/* darkmode */
.darkmode_list {
  border-color: #e8e8e8;
}
.transition {
  transition: color 0.5s ease;
}
.transition_list {
  transition: color 0.5s ease, border-color 0.5s ease;
}
.darkmode_list_potential {
  color: #e8e8e8;
}
.transition_potential {
  margin-top: 5vh;
  text-align: center;
  transition: color 0.5s ease;
}
.leftalign
{
  @media screen and (min-aspect-ratio: 1/1) {
    text-align: left;
  }
}
