.loader_loader
{
    @media screen and (max-aspect-ratio: 1/1) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    @media screen and (min-aspect-ratio: 1/1) {
        margin-left: 2vw;
    }
}
.loaderholder
{
    @media screen and (max-aspect-ratio: 1/1) {
        border: 2px solid white;
    }
}
/* darkmode */
.darkmode_loader 
{
    transition: color 0.5s ease;
    color: #e8e8e8;
}
.not_darkmode_loader
{
    transition: color 0.5s ease;
    color: #1c1c1d;
}