.loader_loader
{
    @media screen and (max-aspect-ratio: 1/1) {
        position: absolute;
        margin-top: 10.5vh;
    }
    @media screen and (min-aspect-ratio: 1/1) {
        margin-left: 1vw;
        margin-bottom: 0vh;
    }
}
/* darkmode */
.darkmode_loader 
{
    color: #e8e8e8;
}
.transition_loader
{
    transition: color 0.5s ease;
}