.mapbox 
{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-right: 0vw;
    margin-left: -1px;
    flex-grow: 1;
    transition: 0.5s ease;
}
/* darkmode */
.darkmode_mapbox
{
    border-color: white;
}
.transition_mapbox
{
    transition: color 0.5s ease, border-color 0.5s ease;
}