.mapbox 
{
    flex-grow: 1;
    transition: 0.5s ease;
    height: 100%;
    @media screen and (max-aspect-ratio: 1/1) {
        height: 45vh;
        width: 90vw;
    }
}
/* darkmode */
.darkmode_mapbox
{
    border-color: white;
}
.transition_mapbox
{
    transition: color 0.5s ease, border-color 0.5s ease;
}