.mapbox 
{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-right: 0vw;
    margin-left: -1px;
    flex-grow: 1;
}
/* darkmode */
.darkmode_mapbox
{
    border-color: white;
}