.main 
{
    position: relative;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}
.searchbar, .radius, .enter 
{
    margin: 0 1vw;
    @media (max-width: 600px) 
    {
        display: block;
    }
}
.searchbar 
{
    width: 10vw;
    font-size: larger;
    font-family: monospace;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button 
{
    appearance: none;
}
.radius
{
    width: 3vw;
}
.searchbar, .radius
{
    border-radius: 2vw;
    border-color: black;
    padding-left: 2vw;
    padding-right: 2vw;
}
.enter
{
    border-style: none;
}
.searchIcon
{
    height: 3vw;
}