.main 
{
    position: relative;
    display: flex;
    align-items: center;
    height: 10vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    color: black;
}
.searchbar, .radius, .enter 
{
    position: relative;
    margin: 0 1vw;
    @media (max-width: 600px) 
    {
        display: block;
    }
}
.searchbar 
{
    margin-left: 0;
    width: 10vw;
    font-size: larger;
    font-family: monospace;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button 
{
    appearance: none;
}
.radius
{
    width: 3vw;
}
.searchbar, .radius
{
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    border: 2px solid #7f7f7f;
    height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.enter
{
    margin-left: 0;
    margin-bottom: 0.5vh;
    font-family: monospace;
    border-style: none;
    height: 5.6vh;
    background-color: transparent;
    border: 2px solid #7f7f7f;
}
.enter:hover
{
    font-weight: bold;
}
p
{
    font-family: monospace;
    margin: 0;
}
.suggestions
{
    position: absolute;
    margin-top: 0.5vh;
}
/* darkmode */
.darkmode_search 
{
    color: white;
}
.transition_search
{
    transition: color 0.5s ease, border-color 0.5s ease;
}