.main_suggestions
{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.suggestion
{
    text-align: left;
    background-color: white;
    border: 1px solid #7f7f7f;
}
.border
{
    border: 2px solid #7f7f7f;
}
.suggestion:hover
{
    font-weight: bold;
}
/* darkmode */
.darkmode_suggestion
{
    background-color: #1c1c1d;
    color: #e8e8e8;
}
.transistion_suggestion
{
    transition: color 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;
}